:root {
  --cor01: #ffffff;
  --cor02: #000;
  --cor03: #333;
  --cor04: #8e44ad;
  --cor05: #492265;
  --cor06: #e74c3c;
}


body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: var(--cor01);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    gap: 80px;
    max-width: 1200px;
    padding: 40px;
}

.cartao-visual {
    display: flex;
    flex-direction: column;
}

.cartao-frente {
    margin-right: 80px;
    margin-bottom: 20px;

}

.cartao-verso {
    margin-left: 80px;
}

.cartao-frente,
.cartao-verso {
    position: relative;
    width: 350px;
    height: 200px;
}

.cartao-frente img,
.cartao-verso img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.detalhes-cartao {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: var(--cor01);
    width: 100%;
}

.vencimento-cartao {
    margin-right: 20px;
}

.numero-cartao {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.linha-baixo {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 20px;
}

.cvc-cartao {
    position: absolute;
    right: 30px;
    top: 85px;
    color: var(--cor02);
    font-size: 16px;
}

.formulario-cartao {
    width: 350px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 11px;
    color: var(--cor03);
    margin-top: 20px;
    letter-spacing: 1px;
}

input {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    border: 1.5px solid var(--cor03);
    border-radius: 8px;
    outline: none;
}

input:focus {
    border-color: var(--cor04);
}

.mes_ano_linha {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.mes_ano {
    display: flex;
    gap: 10px;
}

.mes_ano #mes,
#ano {
    width: 40px;
}

button {
    margin-top: 30px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background: var(--cor05);
    color: var(--cor01);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: var(--cor04);
}

.erro {
    color: var(--cor06);
    font-size: 11px;
    margin-top: 4px;
}